body{
    background: url(./arriere-plan.jpg) repeat-x;
    background-size: 15%;
    background-color: rgb(49, 86, 34); 
}

.banniere{
border: 1px solid black;
margin-left: 100px;
margin-right: 100px;
margin-top: 10%;
}

.banniere h1{
    text-align: center;
}

.pied{
    margin-top: 5%;
}

.pied img{
    margin-left: 25%;
}

