body{
    width: 1200px;
}
.banniere{
    display: flex;
    flex-direction: row;
    align-items: start;
    /* position: relative;
    left: 12%;
    top: -80px; */
}
.mon-titre{
    font-size: 50px;
    margin-left: 150px;
}


.escalope{
    /* width: 400px; */
    display: flex;
    flex-direction: row;

}
.menu{
    width: 400px;
    margin-top: 10%;
}
.recette{
    display: flex;
    flex-direction: column;
    
    width: 600px;
    border: 1px solid black;
}
.recette img {
    width: 200px;
}

.pied{
    display: flex;
    flex-direction: row;
}
.deuxieme-pied{
    margin-left: 20%;
}

.elements{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}


