/***************************/
/* Règles à ne pas toucher */
/***************************/

main {
  margin: auto;
  max-width: 60em;
  border: 1px solid #ddd;
  padding: 1em;
  background-color: #f1fcea;
}

h2 {
  color: tomato;
  background-color: #f7e9d7;
}

figure {
  background-color: white;
  text-align: center;
  padding: 1em;
}

aside,
section {
  border: 1px solid tomato;
  width: 20em;
  text-align: center;
  margin: 1em auto;
}

section {
  height: 30em;
}

.box {
  border: 1px solid black;
  width: 10em;
  height: 5em;
  margin: 1em auto;
  padding: .5em;
  background-color: gold;
  background-image: url('/champignon/ui/img/champi.png');
}

#pixels {
  background-size: 100px 50px;
}
#pourcents {
  background-size: 25% 50%;
}
#etire {
  background-size: 100% 100%;
}
#couvrant {
  background-size: cover;
}

article .box{
  background-color: aquamarine;
  background-repeat: no-repeat;

}
#decalage {
  background-position: right 20px bottom 50px;
}
#decalage-droite {
  background-position: left -20px bottom 50px;
}
#centre {
  background-position: center;
}
#centre-haut {
  background-position: center top;
}
#bas-droite {
  background-position: right bottom;
}
#bas-droite-decale {
  background-position: right 5px bottom 5px;
}
/* Regles sections precedentes */
/* 
.info{
  background: url('/champignon/ui/img/champi.png') no-repeat center top 1em white padding-top: 3em padding-left: 0.5em padding-right: 0.5em padding-bottom: 0.5em center top 1em;
}
 */
.info{
  background-image: url('/champignon/ui/img/champi.png');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center top 1em;
  padding-top: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}




/***********************************/
/* Ajoutez vos règles ci-dessous ! */
/***********************************/

