html{
    background-color: rgb(54, 163, 163);
}

.banniere{
    color: darkblue;
    text-align: center;
    border: 1px solid blue;
    margin-left: 350px;
    margin-right: 350px;
    max-width: 600px;
    margin-bottom: 5%;
}

.menu{
   display: flex;
   flex-direction: row;
   margin-left:10%;
   margin-bottom: 5%;
}

.menu img{
    margin-bottom: 10%;
    margin-right: 50px;
    width: 72%;
    height: 70%;
}

.pied{
    border: 1px solid;
}